@media screen and (min-width: 501px) {
    #menu {
        display: none;
    }
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;
    }
    .courses ul{
    grid-template-columns: 1fr 1fr 1fr;

}

}

@media screen and (max-width: 500px){
    main{
        display: flex;
        flex-direction: column;
    }
    .certificates, .coursework, .location{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .location :not(h2){
        justify-items: center;
    }
    
    .courses ul li{
    min-width: 380px;
    }

    nav{
        display: none;
    }
    #menu {
        display: block;
    }
}
    
:root{
    background-color: hsla(313, 30%, 69%, 0.41);
    color: white;
}
.lato-regular {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.lato-bold {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; /* Corrigido de 'bold' para 'normal' */
    font-variation-settings: "wdth" 100; /* Verifique se "Roboto" suporta variações */
}
nav {
    margin-bottom: 10px;
}
nav ul {
    background-color: hsla(312, 100%, 2%, 0.41);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 15px;
    flex-direction: row;
    justify-content: center;
}
nav li{
    margin: 0;
}
nav a{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    font-size: 1.5em;
    font-family: sans-serif;
    transition: background-color 0.3s ease; 
}

nav a:hover{
    background-color: hsla(312, 100%, 2%, 0.41);
    color: hsla(312, 100%, 2%, 0.41);
}

header{
    background-color: hsla(246, 84%, 47%, 0.41);
    justify-content: center;
    align-items: center;
    gap: 15px;
    display: flex;
}
header h1{
    margin: 0;
}
h2 {
    font-family: sans-serif;
    background-color: hsla(246, 84%, 47%, 0.41);
    text-align: center;
    margin: 0;
    padding: 10px;
}


section{
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgba(114, 49, 100, 0.589);
}
.coursework{
    background-color: hsla(246, 84%, 47%, 0.41);
    padding: 15px;
    border-radius: 5px;
    grid-column: span 2;
    margin-top: 0;
    padding: 0;
}

.location{
    background-color: hsla(246, 84%, 47%, 0.41);
    padding: 15px;
    border-radius: 5px;
    margin-top: 0;
    padding: 0;
}

.certificates{
    background-color: hsla(246, 84%, 47%, 0.41);
    padding: 15px;
    border-radius: 5px;
    grid-column: span 3;
    margin-top: 0;
    padding: 0;
}

.program{
    margin-bottom: 2px;
}

.program ul {
    background-color: hsla(312, 100%, 2%, 0.41);
    list-style: none;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.program li{
    margin: 0;
}
.program li{
    text-decoration: none;
    background-color: rgb(0, 5, 5);
    color: white;
    min-width: 90px;
    padding: 10px 15px;
    display: block;
    border-radius: 5px;
    border: 1px solid hsla(312, 100%, 2%, 0.41);
    font-size: 1.5em;
    font-family: sans-serif;
    transition: background-color 0.3s ease; 
    text-align: center;
}

.program li:hover{
    background-color: hsla(312, 100%, 2%, 0.41);
    color: hsla(312, 100%, 2%, 0.41);
}


.courses ul {
    background-color: hsla(312, 100%, 2%, 0.41);
    list-style: none;
    padding: 10px;
    margin: 0;
    display: grid;
    
    gap: 15px;
    justify-content: center;
}
.courses li{
    margin: 0;
}
.courses li{
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    border: 1px solid hsla(312, 100%, 2%, 0.41);
    border-radius: 5px;
    font-size: 1.5em;
    font-family: sans-serif;
    transition: background-color 0.3s ease; 
    text-align: center;
}

.courses li:hover{
    background-color: hsla(312, 100%, 2%, 0.41);
    color: hsla(312, 100%, 2%, 0.41);
}
footer {
    color: black;
}

.active::before {
    content: "➡️";
}

.show li {
	display: block;
}
#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
}

#menu {

	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}
#navigation.show{
    display: block;
}

.hidden {
    display: none;
}
  .visible {
    display: block;
  }